{% extends 'global/base.html' %}

{% block content %}
<form action="{{ form_action }}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="row mb-1">
        <label for="{{ form.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}

        {% if field.help_text %}
            <p class="">{{field.help_text}}</p>
        {% endif %}

    </div>
    <div class="mb-3">
        {% if field.name == 'picture' and field.value.url %}
        <img src="{{ field.value.url }}" alt="Foto do Contato">
        {% endif %}
    </div>
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="text-danger">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <input class="btn btn-primary" type="submit" value="Enviar">
</form>
{% endblock content %}
